<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">


    <div class="grid-container-fluid">

      <%= render partial: 'spree/shared/header' %>

      <div id="wrapper" class="row" data-hook>
      <div class="grid-container full">
        <%= render partial: 'spree/shared/breadcrumbs_and_sort_order'%>
      </div>

      <div class="grid-x grid-margin-x">

        <div class="cell medium-2 sidebar">

          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
        </div>
        <div class="cell medium-10">
          <div  id="content"class="cell medium-10" data-hook>
            <%= flash_messages %>
            <%= yield %>
            <%= yield :templates %>
          </div>
        </div>
      </div>


       <%= render partial: 'spree/shared/footer' %>            

    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $('select').niceSelect();
      });
    </script>
  </body>
</html>

