<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div class="grid-x" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <div class="cell medium-3" data-hook="product_left_part">
      <div class="" data-hook="product_left_part_wrap">

        <div id="product-images" data-hook="product_images" class="">
          <div id="main-image" data-hook>
            <%= render partial: 'image' %>
          </div>
          <div id="thumbnails" class="" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>


      </div>
    </div>

    <div class="cell medium-6" data-hook="product_right_part">
      <div class="" data-hook="product_right_part_wrap">

        <div class="" id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div itemprop="description" data-hook="description">
            <%= product_description(@product) rescue t('spree.product_has_no_description') %>
          </div>
        </div>

        <%= render partial: 'taxons' %>

      </div>
        <div class="" data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>

        <div class="" data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
    </div>

    <div class="cell medium-3">
      <div class="grid-container" style="border: 1px solid #8a8a8a;">
        <div class="grid-x grid-margin-x" id="cart-form" data-hook="cart_form">
          <%= render partial: 'cart_form' %>
        </div>
      </div>

    </div>
  </div>
<% end %>
