<div class="grid-x" >
	<div class="cell small-4"></div>
	<div class="cell small-4 float-center">
		<%= link_to "Go To Top", '#top' %>
	</div>
	<div class="cell small-4"></div>
</div>

<div class="grid-x grid-margin-x">
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Home", root_path %></div>
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to_cart %></div>
</div>
<div class="grid-x grid-margin-x">
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Your Orders", root_path %></div>
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to 'Gift Cards, Registry', root_path %></div>
</div>
<div class="grid-x grid-margin-x">
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Your Lists", root_path %></div>
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Your Account", root_path %></div>
</div>
<div class="grid-x grid-margin-x">
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Customer Service", root_path %></div>
	<div class="cell small-1"></div>
	<div class="cell small-5"><%= link_to "Help", root_path %></div>
</div>
