<div id="nav-ftr">
	<a id="nav-ftr-gototop" class="nav-a" href="#top">
		<%= fa_icon "caret-up"%><b class="nav-b">Top of page</b>
	</a>

	<div id="nav-ftr-links" style="background-color: #232f3e;">
		<div class="grid-x grid-margin-x">
			<div class="cell small-1"></div>
			<div class="cell small-5"><%= link_to "Home", root_path, class: "nav-a" %></div>
			<div class="cell small-6"><%= link_to_cart %></div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell small-1"></div>
			<div class="cell small-5"><%= link_to "Your Orders", root_path, class: "nav-a"  %></div>
			<div class="cell small-6"><%= link_to 'Gift Cards & Registry', root_path, class: "nav-a" %></div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell small-1"></div>
			<div class="cell small-5"><%= link_to "Your Lists", root_path, class: "nav-a" %></div>
			<div class="cell small-6"><%= link_to "Your Account", root_path, class: "nav-a" %></div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell small-1"></div>
			<div class="cell small-5"><%= link_to "Customer Service", root_path, class: "nav-a" %></div>
			<div class="cell small-6"><%= link_to 'About', root_path, class: "nav-a" %></div>
		</div>

	</div>

	<div id="nav-ftr-auth">
		<ul class="menu align-center">
            <% if signed_in? %>
		  		<!-- <li><%= link_to "", login_path, class: "nav-a" %></li> -->
		  		<li>
	                <%= link_to(logout_path, class: "nav-a") do %>
	                	Sign out
	            	<% end %>
		  		</li>            
            <% else %>
		  		<li><%= link_to "Aready a Customer?", login_path, class: "nav-a" %></li>
		  		<li>
					<%= link_to(login_path, class: "nav-a") do %>
					    Sign In
					<% end %>
		  		</li>
            <% end %>

		</ul>
	</div>

	<!-- start static page links -->
	<ul class="menu align-center nav-ftr-horiz">
		  <li class="nav-li"><%= link_to "Conditions of Use", login_path, class: "nav-a" %></li>
		  <li class="nav-li"><%= link_to "Privacy Notice", login_path, class: "nav-a" %></li>
	</ul>
	<!-- finish static page links -->
	<!-- start (c)  -->
		<ul class="menu align-center">
  <li><div id="nav-ftr-copyright">© 1996-2018, Amazon.com, Inc. or its affiliates</div></li>
</ul>

	
	<!-- finish (c) -->	
</div>
