<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%= render partial: 'spree/shared/nav_bar' %>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>

<hr>
    <header class="nav-locale-us nav-lang-en nav-ssl nav-unrec nav-opt-sprite">
        <div class="show-for-small-only">
            <%= render partial: 'spree/shared/small_only/header'%>

        </div>
        <div class="show-for-medium">
                <%= render partial: 'spree/shared/medium/header'%>
        </div>
    </header>    

