<!DOCTYPE html>
<html>

<head>
    <title>HBB</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: '/application/head'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<!-- <link rel="stylesheet" href="/css/linearicons.css"> -->
			<!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->
			<!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
			<link rel="stylesheet" href="/css/magnific-popup.css">
			<link rel="stylesheet" href="/css/nice-select.css">					
			<!-- <link rel="stylesheet" href="/css/animate.min.css"> -->
			<!-- <link rel="stylesheet" href="/css/owl.carousel.css"> -->
			<!-- <link rel="stylesheet" href="css/main.css"> -->

</head>

<body>
<!-- start main content -->
    	<%= yield %>		

<!-- finish main content -->
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>


</body>

</html>